.container-attendance{
    padding: 20px 30px;
   min-height: 500px;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.342);
    margin-top: 50px;
    
    
}
.container-attendance-info{
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
   
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;

}
.pre-abs{
    display: flex;
    gap: 30px;
}
.p{
    background-color: rgb(13, 201, 13);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    width: 50px;

    
}
.a{
    background-color: rgb(238, 63, 63);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    width: 50px;
    
}
.send-data-to-parents{
    display: inline-block;
    background-color: #ea427a;
    position: relative;
    left: 80%;
    top: 70px;
    height: 50px;
    width: 150px;
    text-align: center;
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: all .2s;
    cursor: pointer;
    user-select: none;


}
.send-data-to-parents:hover{
    background-color:#b82c5a ;
}

h2{
    margin-left: -5px;
    margin-top: 20px;
    text-align: center;
}
.custom-select {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
    overflow: hidden;
    border-radius: 4px;
    width: 200px;
    position: relative;
    left: 55%;
    top: -50px;
    font-weight: bold;
  }
  .custom-select select {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #e7e4e4;
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }

  .custom-select select::-ms-expand {
    display: none;
  }

  .custom-select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #999;
  }