@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    height: 98vh;
    width: 100vw;
    background-color: #fff;
    
}

.title{
    height: 40px;
    width: 100%;
    padding: 7px 0px;
    background: #de8da8;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
}

.title h1{
    color: #201c1c;
    font-size: 25px;
    font-family: 'Montserrat';
}
.logout{
    box-sizing: border-box;
    height: inherit;
    width: 100px;
    background-color: #e64279;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.logout:hover{
    color: white;
    background-color: #b82c5a;
}
